{% extends "ClickGallery::layout.html.twig" %}

{% block content %}
    
    {% for photo in photos %}
        <div class="photo">
            <img src="/bundles/clickgallery/images/sample/{{ photo.name }}" alt=" {{ photo.name }}" />
            <div class="toolbar">
              <img src="/bundles/clickgallery/images/icons/edit"
            </div>
        </div>
    {% endfor %}
        
{% endblock %}
