{% extends "ClickGallery::layout.html.twig" %}


{% block content %}
    
    <div class="photo">
        <img src="{{ asset('bundles/clickgallery/images/image_01.png') }}" alt="Symfony" />
    </div>
    
    <div class="photo">
        <img src="{{ asset('bundles/clickgallery/images/image_01.png') }}" alt="Symfony" />
    </div>
    
    <div class="photo">
        <img src="{{ asset('bundles/clickgallery/images/image_01.png') }}" alt="Symfony" />
    </div>
    
{% endblock %}
