{% extends "ClickGallery::layout.html.twig" %}

{% block content %}
    
    {% for gallery in galleries %}
        <div class="gallery">
            {% for photo in gallery.photos %}
                <img src="/bundles/clickgallery/images/sample/{{ gallery.name | lower }}/{{ photo.name }}" alt=" {{ photo.name }}" />
                <div class="toolbar">
                  <img src="/bundles/clickgallery/images/icons/edit" />
                </div>
            {% endfor %}
        </div>
    {% endfor %}
        
{% endblock %}
