{% extends "ClickGallery::layout.html.twig" %}

{% block content %}
    
    {% for gallery in galleries %}
        <div class="gallery">
            <img src="/bundles/clickgallery/images/sample/{{ gallery.name }}" alt=" {{ gallery.name }}" />
            <div class="toolbar">
              <img src="/bundles/clickgallery/images/icons/edit" />
            </div>
        </div>
    {% endfor %}
        
{% endblock %}
