<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/clickgallery/css/gallery.css') }}" type="text/css" media="all" />
        <title>{% block title %}click{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
        <div class="header">
            
            <div class="toolbar">

                <ul class="navigation">
                    {% block navigation %}
                    <li>
                        <a href="{{ path('galleryNew') }}" title="New Gallery" />
                            <img src="{{ asset('bundles/clickgallery/images/icons/large/add.png') }}" alt="" /> New Gallery
                        </a>
                    </li>
                    {% endblock %}
                </ul>
            </div>
        </div>
        
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        
        <div class="footer">
            
        </div>

    </body>
</html>
