<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/clickgallery/css/gallery.css') }}" type="text/css" media="all" />
        <title>{% block title %}click{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
        <div class="header">
            
            <div class="toolbar">
                <h2>Gallery:</h2>
                <ul class="navigation">
                    <li>
                        <a href="" title="" />
                            <img src="{{ asset('bundles/clickgallery/images/icons/large/add.png') }}" alt="" /> Add
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        {% block content %}
        {% endblock %}

    </body>
</html>
