<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/clickgallery/css/gallery.css') }}" type="text/css" media="all" />
        <title>{% block title %}click{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
        {% block content %}
        {% endblock %}

    </body>
</html>
